.application-form {
  margin-bottom: 55px;

  h2 {
    margin-bottom: 30px;
  }

  legend {
    color: $black;
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
  }

  input[type=text],
  input[type=date],
  select,
  textarea {
    background: $white;
    box-sizing: border-box;
    color: $dark-blue;
    margin-bottom: 18px;
    padding: 12px;
    padding-right: 34px;
    width: 48%;

    &.js_wrong-field {
      border: 1px solid $red;
      color: $red;
      padding: 11px;
    }

    &.js_right-field {
      background-image: url(../img/checkmark.svg);
      background-position: calc(100% - 10px) center;
      background-repeat: no-repeat;
      background-size: 14px;
    }
  }

  input[type=file] {
    &.js_wrong-field {
      background: $red;
    }
  }

  textarea {
    &.js_right-field {
      background-position: calc(100% - 10px) 15px;
    }
  }

  select {
    height: 44px;
  }
}

.fieldset {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.two-column-fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 55px;

  .fieldset {
    width: 48%;
  }

  textarea {
    height: 120px;
    width: 100%;
  }
}

.file-field-combo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;

  .custom-button {
    &.dropbox {
      @include icon('dropbox');

      padding: 7px;

      &:before {
        font-size: 22px;
        margin-right: 9px;
        vertical-align: middle;
      }
    }
  }

  .file-field-wrap {
    min-width: 150px;
    position: relative;

    span.custom-button {
      @include icon('computer');

      left: 0;
      padding: 10px;
      position: absolute;
      top: 0;

      &:before {
        margin-right: 9px;
        vertical-align: middle;
      }
    }
  }

  label {
    width: 15%;
  }

  div,
  button {
    width: 30%;
  }

  input {
    box-sizing: border-box;
    margin-bottom: 0;
    opacity: 0;
    padding: 9px;
    width: 100%;
  }

  label {
    color: $black;
  }
}

.bottom-form {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bottom-form-right {
  text-align: right;
  width: 60%;

  input[type=submit] {
    padding: 12px;
    width: 61%;
  }

  label {
    margin-right: 20px;
  }
}

.back-link {
  color: $light-gray;
  text-decoration: none;
  transition: color 0.3s ease-out;

  &:before {
    content: '<';
    margin-right: 8px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $medium-gray;
  }
}

.overlay {
  background: rgba(255,255,255,0.9);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .overlay-content {
    background: $white;
    border: 1px solid $border-gray;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    left: 50%;
    padding: 30px;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;

    p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  &.js_visible {
    display: block;
  }
}

@include at-breakpoint($mobile-screen) {
  .application-form input[type=text],
  .application-form input[type=date],
  .application-form select,
  .application-form textarea {
    margin-bottom: 14px;
    width: 100%;
  }

  .two-column-fieldset {
    margin-bottom: 0;

    .fieldset {
      width: 100%;
    }
  }

  .file-field-combo {
    flex-wrap: wrap;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .bottom-form {
    flex-wrap: wrap;
  }

  .back-link {
    order: 1;
  }

  .bottom-form-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;

    label {
      text-align: left;
    }

    input[type=submit] {
      width: 50%;
    }
  }

  .overlay-content {
    width: calc(100% - (#{$gutter} * 2));

    h2 {
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }
  }
}
