footer {
  background: $white;
  padding-top: 30px;
  position: relative;
}

.back-to-top {
  @include icon('topfacingcaret', true);

  background: $white;
  box-sizing: border-box;
  color: $medium-gray;
  display: inline-block;
  font-size: 12px;
  min-width: 130px;
  position: absolute;
  padding: 13px 13px 9px;
  right: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transform: translateY(-100%);
  transition: color 0.3s ease-out;

  &:after {
    margin-left: 8px;
    vertical-align: middle;
  }

  &:hover,
  &:active,
  &:focus {
    color: $dark-gray;
  }
}

.footer-nav {
  border-top: 1px solid $border-gray;
  padding: 20px 0 55px 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >li {
      line-height: 180%;
      width: 20%;

      a {
        color: $dark-gray;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
        text-decoration: none;
        text-transform: uppercase;
      }

      &.social-links-footer {
        width: 30%;

        ul > li {
          width: 50%;
        }
      }
    }

    ul > li {
      width: 100%;

      a {
        color: $medium-gray;
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 0;
        text-transform: none;

        &.social-icon:before {
          border: 1px solid $medium-gray;
          border-radius: 100%;
          box-sizing: border-box;
          height: 22px;
          margin-right: 8px;
          padding: 3px 0;
          text-align: center;
          vertical-align: middle;
          width: 22px;
        }

        &:active,
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.newsletter-form {
  input {
    box-sizing: border-box;
    border: 1px solid $border-gray;
    color: $medium-gray;
    padding: 8px;
    width: 100%;
  }
}

.bottom-bar {
  background: $background-gray;
  color: $light-gray;
  padding: 20px 0;
}

@include at-breakpoint($mobile-screen) {
  .back-to-top {
    font-size: 0;
    min-width: 0;
    padding: 11px 13px;

    &:after {
      font-size: 12px;
      margin: 0;
    }
  }

  .footer-nav {
    padding-bottom: 0;

    > ul > li {
      display: none;
    }

    ul > li a {
      margin-bottom: 5px;
    }
  }

  .footer-nav ul li.social-links-footer,
  .footer-nav ul li.newsletter-footer {
    display: block;
    margin-bottom: 40px;
    width: 100%;
  }

  .newsletter-footer {
    label,
    input {
      box-sizing: border-box;
      width: 100%;
    }
  }
}
