.job-title {
  align-items: center;
  background: url('../img/hero-image.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  height: 275px;
  justify-content: center;
  margin-bottom: 55px;
}

.title-wrapper {
  background: rgba(0,0,0,0.6);
  color: $white;
  display: block;
  padding: 35px 0;
  text-align: center;

  h1 {
    font-size: 45px;
  }

  h3 {
    @include font('Fira Sans Extra Condensed');

    font-size: 30px;
    text-transform: uppercase;
  }
}

.job-details {
  h2 {
    margin-bottom: 20px;
  }

  article {
    margin-bottom: 40px;
  }
}

.job-offer-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;

  .social-icon {
    background: $medium-gray;
    border-radius: 100%;
    box-sizing: border-box;
    color: $background-gray;
    display: inline-block;
    font-size: 16px;
    height: 29px;
    padding: 7px 0;
    text-align: center;
    transition: background-color 0.3s ease-out;
    vertical-align: middle;
    width: 29px;

    span {
      display: none;
    }

    &:hover,
    &:active,
    &:focus {
      background: $light-gray;
    }
  }

  p {
    display: inline-block;
    margin-right: 15px;
    text-transform: uppercase;
  }
}

@include at-breakpoint($mobile-screen) {
  .job-title {
    height: auto;
    margin-bottom: 30px;

    h1,
    h3 {
      box-sizing: border-box;
      padding-left: $mobile-gutter;
      padding-right: $mobile-gutter;
      width: 100%;
    }
  }

  .job-title,
  .title-wrapper {
    background: transparent;
    color: $black;
    text-align: left;
  }

  .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;

    h1 {
      font-size: 28px;
      line-height: 120%;
      order: 1;
    }

    h3 {
      @include font();

      border-bottom: 1px solid $border-gray;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 30px;
      order: 0;
      padding-bottom: 25px;
      padding-top: 25px;
    }
  }

  .job-details {
    h2 {
      @include font();

      font-size: 16px;
      font-weight: 600;
      margin-bottom: 16px;
      text-transform: none;
    }

    article {
      margin-bottom: 20px;
    }
  }

  .job-offer-buttons {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    .custom-button {
      margin-bottom: 30px;
      max-width: 200px;
      width: 60%;
    }

    p {
      margin-bottom: 10px;
      width: 100%;
    }

    div {
      text-align: left;
      width: 100%;
    }
  }
}
