.application-form {
  margin-bottom: 55px;

  h2 {
    margin-bottom: 30px;
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  legend {
    color: $black;
    font-weight: 600;
    margin-bottom: 15px;
  }

  input[type=text],
  select,
  textarea {
    box-sizing: border-box;
    color: $dark-blue;
    margin-bottom: 18px;
    padding: 12px;
    width: 48%;
  }
}

.two-column-fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 55px;

  fieldset {
    width: 48%;
  }

  textarea {
    width: 100%;
  }
}

.file-field-combo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;

  .custom-button {
    &.dropbox {
      @include icon('dropbox');

      padding: 7px;

      &:before {
        font-size: 22px;
        margin-right: 9px;
        vertical-align: middle;
      }
    }
  }

  .file-field-wrap {
    min-width: 150px;
    position: relative;

    span.custom-button {
      @include icon('computer');

      left: 0;
      padding: 10px;
      position: absolute;
      top: 0;

      &:before {
        margin-right: 9px;
        vertical-align: middle;
      }
    }
  }

  label {
    width: 15%;
  }

  div,
  button {
    width: 30%;
  }

  input {
    box-sizing: border-box;
    margin-bottom: 0;
    opacity: 0;
    padding: 9px;
    width: 100%;
  }

  label {
    color: $black;
  }
}

.bottom-form {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bottom-form-right {
  text-align: right;
  width: 60%;

  input[type=submit] {
    padding: 12px;
    width: 61%;
  }

  label {
    margin-right: 20px;
  }
}

.back-link {
  color: $light-gray;
  text-decoration: none;
  transition: color 0.3s ease-out;

  &:before {
    content: '<';
    margin-right: 8px;
  }

  &:hover,
  &:active,
  &:focus {
    color: $medium-gray;
  }
}

@include at-breakpoint($mobile-screen) {
  .application-form input[type="text"],
  .application-form select,
  .application-form textarea {
    margin-bottom: 14px;
    width: 100%;
  }

  .two-column-fieldset {
    margin-bottom: 0;

    fieldset {
      width: 100%;
    }
  }

  .file-field-combo {
    flex-wrap: wrap;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
      width: 100%;
    }
  }

  .bottom-form {
    flex-wrap: wrap;
  }

  .back-link {
    order: 1;
  }

  .bottom-form-right {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;

    label {
      text-align: left;
    }

    input[type=submit] {
      width: 50%;
    }
  }
}
