body {
  @include font();

  color: $main-text-color;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
p,
li {
  line-height: 150%;
}

h1,
h2,
h3,
h4 {
  @include font('Roboto Condensed');

  font-weight: 600;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

h2 {
  color: $black;
  font-size: 44px;
}

h3 {
  text-transform: none;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

input,
select,
textarea {
  @include font();

  border: 0;
  border-radius: 0;
  font-size: 14px;
}

input[type=file] {
  cursor: pointer;
}

.cont {
  margin: 0 auto;
  padding: 0 $gutter;
  width: $content-width-desktop;
}

.social-icon {
  &.twitter {
    @include icon('twitter');
  }

  &.facebook {
    @include icon('facebook');
  }

  &.linkedin {
    @include icon('linkedin');
  }

  &.googleplus {
    @include icon('googleplus');
  }

  &.mail {
    @include icon('mail');
  }

  &.printer {
    @include icon('printer');
  }

  &.instagram {
    @include icon('instagram');
  }

  &.youtube {
    @include icon('youtube');
  }

  &.tumblr {
    @include icon('tumblr');
  }
}
