body {
  @include font();

  background: $background-gray;
  color: $medium-gray;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
p,
li {
  line-height: 150%;
}

h1,
h2 {
  @include font('Fira Sans Extra Condensed');

  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  color: $black;
  font-size: 32px;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

input,
select,
textarea {
  @include font();

  border: 0;
  border-radius: 0;
  font-size: 14px;
}

.cont {
  margin: 0 auto;
  padding: 0 $gutter;
  width: $content-width-desktop;
}

.custom-button {
  background: $blue;
  border: 0;
  color: $white;
  display: inline-block;
  font-weight: 600;
  min-width: 130px;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in;

  &:hover,
  &:active,
  &:focus {
    background: $dark-blue;
  }
}

.social-icon {
  &.twitter {
    @include icon('twitter');
  }

  &.facebook {
    @include icon('facebook');
  }

  &.linkedin {
    @include icon('linkedin');
  }

  &.googleplus {
    @include icon('googleplus');
  }

  &.mail {
    @include icon('mail');
  }

  &.printer {
    @include icon('printer');
  }

  &.instagram {
    @include icon('instagram');
  }

  &.youtube {
    @include icon('youtube');
  }

  &.tumblr {
    @include icon('tumblr');
  }
}

.white-section {
  background: $white;
  padding: 35px 0;
}

.classic-list {
  li {
    list-style-type: disc;
    margin-left: 20px;
  }
}

@include at-breakpoint($mobile-screen) {
  h1,
  h2 {
    line-height: 120%;
  }

  h2 {
    font-size: 26px;
  }

  .cont {
    padding: 0;
    width: calc(100% - (#{$mobile-gutter} * 2));
  }
}
