.tmh-button {
  background: $red;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  font-family: 'Roboto condensed';
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  min-width: 120px;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;

  &:active,
  &:visited,
  &:hover {
    background: $black-bg;
    transition: 0.2s background ease-out;
  }
}

.tmh-content-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: $content-width-desktop;
  width: 100%;

  &--wrapped {
    flex-wrap: wrap;
  }

  h2,
  h4,
  p {
    text-align: center;
    width: 100%;
  }
}

.tmh-section {
  padding: 50px 0 65px;

  &--dark-bg {
    background: $main-text-color;

    h2,
    h3,
    h4,
    p {
      color: $white;
    }
  }
}
