header {
  align-items: center;
  background: $black;
  display: flex;
  height: 40px;
  justify-content: space-between;
  text-transform: uppercase;

  .logo {
    @include font('Fira Sans Extra Condensed');

    color: $white;
    font-size: 29px;
    font-weight: 600;
    margin-left: 45px;
    vertical-align: top;
  }

  a {
    text-decoration: none;
  }
}

.hamburguer {
  background: transparent;
  display: none;
  margin: 10px 0 0 $mobile-gutter;
  padding: 0;

  span {
    background: $white;
    display: inline-block;
    height: 6px;
    width: 35px;

    &:after,
    &:before {
      content: '';
      background: $white;
      display: inline-block;
      height: 6px;
      width: 35px;
    }

    &:before {
      margin-top: 12px;
      margin-bottom: -2px;
    }
  }
}

.close-menu {
  display: none;
  height: 30px;
  float: right;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 13px;
  width: 30px;

  span {
    background: $black;
    display: block;
    height: 5px;
    position: absolute;
    transform: rotate(45deg);
    transition: transform 0.2s ease-out;
    width: 30px;
  }

  &:before {
    background: $black;
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    transform: rotate(-45deg);
    transition: transform 0.2s ease-out;
    width: 30px;
  }

  &:hover,
  &:active,
  &:focus {
    span {
      transform: rotate(-135deg);
    }

    &:before {
      transform: rotate(135deg);
    }
  }
}

.menu {
  vertical-align: middle;

  li {
    display: inline-block;
  }

  a {
    color: $white;
    font-weight: 600;
    margin: 0 20px;

    &.active,
    &:hover,
    &:active,
    &:focus {
      border-bottom: 1px solid $white;
    }
  }
}

.search {
  input {
    font-weight: 600;
    padding: 5px 10px;
    text-transform: uppercase;
    width: 255px;
  }

  button {
    @include icon('search');

    background: transparent;
    border: 0;
    color: $medium-gray;
    display: inline-block;
    font-size: 14px;
    transform: translateX(-100%);
    vertical-align: middle;
  }
}

.cart-status {
  @include icon('briefcase');

  color: $white;
  font-size: 15px;
  font-weight: 600;
  margin-right: 45px;

  &:before {
    margin-right: 6px;
  }
}

@include at-breakpoint($mobile-screen) {
  header {
    flex-wrap: wrap;
    height: 100px;

    .logo {
      margin-top: 5px;
      margin-left: 0;
    }
  }

  .menu {
    background: rgba(255,255,255,0.95);
    display: none;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.2s ease-out;
    width: 100%;
    z-index: 1;

    &.js_open {
      display: block;
      opacity: 1;
    }

    ul {
      padding-top: 65px;
    }

    li {
      width: 100%;
      border-top: 1px solid $border-gray;
      padding: 11px 0;
    }

    a {
      color: $black;
      display: block;
      font-size: 16px;
      text-align: center;
      transition: font-size 0.2s ease-out;

      &:hover,
      &:active,
      &:focus,
      &.active {
        border: 0;
        font-size: 19px;
      }
    }
  }

  .hamburguer {
    display: inline-block;
  }

  .close-menu {
    display: block;
  }

  .search {
    margin-left: $mobile-gutter;
    margin-right: $mobile-gutter;
    order: 1;
    position: relative;
    width: calc(100% - (#{$mobile-gutter} * 2));

    input {
      box-sizing: border-box;
      padding: 7px 10px;
      width: 100%;
    }

    button {
      position: absolute;
      right: 0;
      top: 6px;
      transform: none;
    }
  }

  .cart-status {
    margin-right: $mobile-gutter;
    order: 0;
  }
}
