.related-jobs {
  padding-bottom: 50px;

  h4 {
    border-bottom: 1px solid $border-gray;
    font-size: 18px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  ul {
    display: flex;
  }

  li {
    text-align: center;
    width: 50%;
  }

  a {
    @include font('Fira Sans Extra Condensed');

    color: $black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    span {
      @include font();

      color: $medium-gray;
      display: block;
      font-size: 14px;
      text-transform: none;
    }

    &:hover,
    &:active,
    &:focus {
      span{
        text-decoration: underline;
      }
    }
  }
}

.photo-section {
  background: url('../img/blue-fabric.jpg') center;
  background-size: cover;
  padding: 60px 0;
}

.photo-section-frame {
  background: $background-gray;
  display: flex;
  flex-wrap: wrap;
  padding: 20px $gutter $gutter;

  article {
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-right: #{$gutter} / 2;
    vertical-align: top;
    width: 50%;

    &:nth-child(even) {
      padding-left: #{$gutter} / 2;
      padding-right: 0;
    }
  }

  a {
    color: $medium-gray;

    &.keep-reading {
      color: $light-gray;

      &:hover,
      &:active,
      &:focus {
        color: $dark-gray;
      }
    }
  }
}

.photo-section-composed {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: calc(#{$content-width-desktop} + (#{$gutter} * 2));
}

.half-frame {
  background: $background-gray;
  box-sizing: border-box;
  padding: 20px $gutter $gutter;
  width: 50%;

  p {
    margin-bottom: 30px;
  }

  &.transparent {
    background: transparent;
    padding: 0 0 0 $gutter;
  }

  &:nth-child(even) {
    margin-left: 0;
  }
}

.keep-reading {
  color: $light-gray;
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover,
  &:active,
  &:focus {
    color: $dark-gray;
  }
}

.tabbed-content {
  display: none;

  &.active-tab {
    display: block;
  }
}

@include at-breakpoint($mobile-screen) {
  .related-jobs {
    padding: 0;
    text-align: center;

    .cont {
      box-sizing: border-box;
      width: 100%;
    }

    h4,
    li {
      margin-bottom: 0;
      padding: 15px $mobile-gutter;
    }

    h4 {
      border-top: 1px solid $border-gray;
      font-size: 14px;
    }

    ul {
      flex-wrap: wrap;
    }

    li {
      border-bottom: 1px solid $border-gray;
      width: 100%;
    }
  }

  .photo-section-frame {
    box-sizing: border-box;
    width: calc(100% - (#{$mobile-gutter} * 2));

    article {
      width: 100%;
    }
  }

  .photo-section {
    padding: 45px 0;
  }

  .photo-section-composed {
    flex-wrap: wrap;
    width: calc(100% - (#{$mobile-gutter} * 2));
  }

  .half-frame {
    margin-bottom: 30px;
    width: 100%;

    &.transparent {
      padding-left: 0;
      padding-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
