$content-width-desktop: 1200px;
$gutter: 30px;
$mobile-gutter: 20px;
$mobile-screen: 980px;

$black: #000;
$black-bg: #242424;
$main-text-color: #383838;
$white: #FFF;
$red: #F60000;
$medium-grey: #979797;
$medium-darker-grey: #808080;
$soft-grey: #D9D9D9;
$light-grey: #F3F3F3;
$border-grey: #717171;
$dark-grey: #535353;
$craig-slide-grey: #E5E5E5;
