$content-width-desktop: 850px;
$gutter: 30px;
$mobile-gutter: 20px;
$mobile-screen: 980px;

$black: #000;
$white: #FFF;
$blue: #005c9d;
$dark-blue: #003b61;
$red: #d33b3b;
$darkest-gray: #313131;
$dark-gray: #343434;
$medium-gray: #7a7a7a;
$light-gray: #b8b8b8;
$lighter-gray: #c5c5c5;
$lightest-gray: #aeaeae;
$background-gray: #f7f7f7;
$border-gray: #d3d3d3;
