$content-width-desktop: 1300px;
$gutter: 30px;
$mobile-gutter: 20px;
$mobile-screen: 980px;

$black: #000;
$black-bg: #242424;
$main-text-color: #383838;
$white: #FFF;
$red: #F60000;
$medium-grey: #979797;
$light-grey: #F3F3F3;
